Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

build/
**/build/

.cache/
**/.cache/

*.elf
*.hex
*.bin
*.map

preferences.txt

.thonny/
thonny.ini

__pycache__/
*.pyc
*.pyo

*.mpy

.vscode/

*.log
*.tmp
*.bak
